// Normally mainpage styles
h1
	display: inline-block
	width: 500px
	margin: 40px 10px  
	font-size: 20px
	color: #B9B9B9
.dc
	position: absolute
	width: 450px
	height: 160px
	top: -10px
	right: 0
	background-color: #2F549B
	color: #fff
	box-shadow: 0 2px 9px 0 rgba(0,0,0,.55) 
	span
		float: left
		height: 71px
		line-height: 71px
		margin: 43px 35px
	.shape
		width: 62px
		background-image: url('../img/shape.png')
	.amount
		margin: 43px 0
		font-size: 71px
	.name
		width: 80px
		font-size: 25px
		margin: 43px 25px
		line-height: 1
		padding-top: 10px
.item
	background-color: #fff 
	text-align: center
	span
		display: inline-block
	.logo
		margin-top: 20px
		height: 95px
	.head
		margin: 24px 0 15px
		font-size: 36px
		color: #2F549B
	.tags
		width: 170px
		color: #2F549B
	.t_empl
		width: 100px
	.t_deals
		width: 190px
	.line
		margin: 20px auto
		width: 88px
		height: 1px
		background-color: #D1D1D1
	.info
		width: 180px
		color: #909090
	.more
		margin-top: 30px
		a:active,a:visited
			color: #D1D1D1
		a:hover
			color: #818178
	&:hover
		background-color: #2F549B
		.head,.tags
			color: white
.tools
	line-height: 180px
	text-align: justify
	&:after
		content: ''
		width: 100%
		display: inline-block
.tool
	box-sizing: border-box
	display: inline-block
	line-height: 1em
	margin: 18px 10px 18px
	display: inline-block
	text-align: center
	vertical-align: middle
	width: 140px
	height: 120px
	padding-bottom: 20px
	color: #8a8a8a 
	&:hover
		color: white
		background-color: #2f549b
		border-radius: 3px  
	img
		margin: 14px 0 23px
.wr__header
	position: absolute
	width: 322px
	left: 341px
	z-index: 0 
.wr__name
	position: absolute
	width: 261px
	top: -36px
	left: 369px
	height: 60px
	z-index: 1
	color: white
	line-height: 60px
	font-size: 25px
	text-align: center
	background-color: #2F549B 